<div class="browse_game_menu modal_menu">
  <div class='close_btn'></div>
  <div class='menu_header'>Browse Games</div>
  <div class='game_list_container'>
    <div class='empty_state'>No games available</div>
    <div class='game_list'></div>
  </div>
  <div class='action_container'>
    <div class='create_custom_game_btn menu_btn'>
      Create
    </div>
    <div class='join_custom_game_btn menu_btn'>
      Join
    </div>

    <div class='refresh_custom_game_btn menu_btn'>
      <img src="/assets/images/backgrounds/refresh_icon.png">
    </div>
  </div>
</div>
