<div class="browse_map_menu modal_menu">
  <div class='close_btn'></div>
  <div class='menu_header'>Select Map</div>
  <div class='maps_tab_container'>
    <div class='map_tab selected' data-tab='default'><%= 'Default' %></div>
    <div class='map_tab' data-tab='mine'><%= 'My Maps' %></div>
  </div>
  <div class="map_tab_content active" data-tab='default'>
    <div class='featured_map_list'></div>
  </div>
  <div class="map_tab_content" data-tab='mine'>
    <div class='my_map_list'></div>
    <div class='new_level_btn menu_btn'>+ New</div>
  </div>
</div>