<div class="game_settings_menu modal_menu">
  <div class='close_btn'></div>
  <div class='menu_header'>Game Settings</div>
  <div class="game_settings_list">
    <div class="game_settings_entry">
      <div class="game_settings_key">Number of Rounds</div>
      <div class="num_rounds game_settings_value">
        <select class="num_rounds_select"></select>
      </div>
    </div>
    <div class="game_settings_entry">
      <div class="game_settings_key">Pickups</div>
      <div class="pickup_list game_settings_value"></div>
    </div>
  </div>
</div>