<div class="game_lobby_menu modal_menu">
  <div class='close_btn'></div>
  <div class='menu_header'>Lobby</div>
  <div class='player_list'>
  </div>
  <div class='game_lobby_body'>
    <div class='chat_container' class=''>
      <div class='chat_history'></div>
      <div class='chat_input_container'>
        <input type="text" class='chat_input' autocomplete="nope" placeholder="send message">
      </div>
    </div>
    <div class='action_container'>
      <div class='map_container'>
        <div class='sub_header'>Map</div>
        <img class='selected_map' />
      </div>
      <div class='lobby_control_container'>
        <button class='level_editor_btn menu_btn'>Level Editor</button>
        <button class='change_map_btn menu_btn'>Map</button>
        <div class='start_custom_game_btn menu_btn'>Start</div>
      </div>
    </div>
    <div class="config_container">
      <div class='game_settings_btn gray menu_btn'>
        <img src="/assets/images/backgrounds/settings_icon.png">
        Settings
      </div>
      <div class='privacy_btn menu_btn'>Private</div>
      <input type='text' class="share_url" value="">
      <div class="copy_link_btn"><img src='/assets/images/backgrounds/copy_icon.png' /></div>
    </div>
  </div>
</div>
