
<div class="rankings_menu modal_menu">
  <div class='close_btn'></div>
  <div class='menu_header'>Rankings</div>
  <div class='global_rankings_list'>
    <div class='global_rankings_list_header'>
      <div class="global_leaderboard_row header">
        <div class="global_leaderboard_col rank">Rank</div>
        <div class="global_leaderboard_col name">Name</div>
        <div class="global_leaderboard_col winCount">Wins</div>
        <div class="global_leaderboard_col playCount">Games Played</div>
      </div>
    </div>
    <div class='global_rankings_list_body'>
    </div>
  </div>
</div>