body.mobile .home_title {
  font-size: 40px;
  margin-top: 10px;
}

body.mobile .normal_mode {
  margin-bottom: 20px;
}

body.mobile .name_input {
  font-size: 20px;
}

body.mobile .social_links {
  display: none;
}

body.mobile .about_links {
  width: 150px;
  display: none;
}

body.mobile .about_links a {
  font-size: 16px;
  line-height: 36px;
}

body.mobile .left_sidebar {
  margin-top: 180px;
}

body.mobile .total_online_count {
  top: 20px;
  display: none;
}

body.mobile .region_selector {
  top: 8px;
}

body.mobile .level_editor_btn {
    display: none;
}

body.mobile .round_message {
    font-size: 20px;
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
}


body.mobile .disconnected_msg {
  bottom: unset;
  top: 0px;
  font-size: 16px;
}

body.mobile .leaderboard {
}

body.mobile .leaderboard .leaderboard_title {
  padding: 5px 0px;
}

body.mobile .ranks_row {
  padding: 0px;
}

body.mobile .ranks_row .col {
    font-size: 18px;
}

body.mobile .continue_message {
    font-size: 18px;
}

body.mobile .modal_menu {
  width: 100%;
  height: 100%;
}

body.mobile .close_btn {
    top: 0px;
    right: 0px;
}

body.mobile .home_click_to_play {
  display: none;
}

body.mobile .game_list_container {
  height: calc(100% - 110px);
}

body.mobile .game_lobby_menu .map_container {
}

body.mobile .game_lobby_menu .action_container {
}

body.mobile .player_list {
  height: 24px;
}

body.mobile .chat_history {
  height: 120px;
}

body.mobile .selected_map {
  width: 150px;
  height: 75px; 
}

body.mobile .ping_display {
  color: #bbb;
  opacity: 0.5;
}

body.mobile .map_container .sub_header {
  display: none;
}

body.mobile .player_entry {
    display: inline-block;
    float: left;
    margin-right: 40px;
    background-color: #333;
    padding: 3px 5px;
    border-radius: 6px;
}

@media only screen and (max-width: 900px) {
  .home_menu_overlay {
    max-width: unset;
    left: unset;
    margin-left: unset;
  }

  .pickups_menu {
      max-width: 435px;
  }
}

@media only screen and (max-height: 500px) {
  .enter_game_container {
    text-align: right;
    bottom: 20px;
    right: 20px;
    left: unset;
  }

  .play_btn {
    display: block;
  }

  .about_links {
    display: none;
  }

  .gameplay_footage {
    display: block;
  }
}

body.mobile .play_btn {
  display: block;
}

body.mobile .browse_game_btn {
    background-color: #a8a8a8;
}

body.mobile .browse_game_btn:hover {
    background-color: #cccccc;
}

body.mobile .home_canvas_background {
  top: 75px;
}

body.mobile .game_page .chat_container {
  display: none;
}

body.mobile .global_leaderboard_col.playCount {
  width: 80px;
}

body.mobile .global_leaderboard_col.name {
  width: calc(100% - 300px);
}

